@import "../../../styles/settings.scss";

.root {
  background-color: $header-bg;

  :global(.container) > :global(.row) {
    height: 145px;
  }

  .phoneNumber {
    p {
      margin: 0;
      font-size: 17px;
      line-height: 42px;
      color: $company-claim-phone-number-color;
      font-weight: 500;

      .icon {
        font-size: 32px;
        color: $primary;
        vertical-align: middle;
        margin-top: -3px;
        margin-right: 0.8rem;
      }
    }
  }

  .cart {
    .cartBox {
      display: inline-flex;
      position: relative;
      color: $company-claim-card-box-color;
      text-decoration: none;
      
      .cartCounter {
        text-align: left;
        height: 20px;
        padding-left: 5px;
        border-radius: 10px 0 0 10px;
        background-color: $header-bg;
        align-items: center;
        font-size: 14px;
        color: $company-claim-card-couter-color;
        min-width: 20px;
        z-index: 1;
      }

      .cartIcon {
        background-color: $primary;
        width: 55px;
        height: 50px;
        border-radius: 3px;
        font-size: 20px;
        @extend %hover-params;

        position: absolute;
        left: -45px;
        top: -13px;
        text-align: left;

        .icon {
          margin-left: 15px;
          margin-top: 14px
        }
      }

      &:hover {
        .cartIcon {
          background-color: lighten($primary, 10%);
        }
      }
    }
  }
}
