@import "../../../styles/settings.scss";

.root {
  background-color: $header-topbar-bg;

  ul {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      display: inline-block;
      line-height: 55px;

      a {
        color: $header-topbar-color;
        font-size: 13px;
        @extend %hover-params;

        &:hover {
          color: $primary;
          text-decoration: none;
        }
      }
    }
  }

  .topOptions ul li {
    margin-right: 1.5rem;

    .icon {
      margin-left: 5px;
    }
  }

  .topMenu ul li {
    margin-left: 1.5rem;

    .icon {
      margin-right: 5px;
    }
  }
}

@media only screen and (max-width: 576px) {
  .root {
    span {
      display: none;  
    }

    .topOptions {
      margin-left: 5px;
      padding: 0;

      ul li {
        margin-right: 5px;
      }
    }

    .topMenu {
      padding: 0;
      margin-right: 5px;

      ul li {
        margin-left: 5px;
      }
    }
  } 
}
