@import "../../../styles/settings.scss";

.root {
  border: 1px solid $form-border-color;
  display: inline-flex;
  height: 45px;
  color: $text-color;

  .category {
    border-right: 1px solid $form-border-color;
    display: flex;
    align-items: center;
    position: relative;

    &:hover {
      background-color: $primary;
      color: $product-search-hover;
    }

    .icon:first-child {
      color: $primary;
      position: absolute;
      left: 10px;
      z-index: 0;
    }

    .icon:last-child {
      position: absolute;
      right: 10px;
      z-index: 0;
    }

    ul {
      position: relative;
      font-size: 14px;
      outline: none;
      padding: 10px 30px 10px 35px;
      margin: 0;
      z-index: 1;
      cursor: pointer;

      &:hover ul {
        position: absolute;
        display: block;
        color:black;
        background-color: $product-search-hover;
        border: solid 1px #292929;
        text-align: center;
        top: 0;
        right: 0;
        margin-top: 42px;
        width: 188px;
        height: 180px;
      }

      li {
        display: block;
        user-select: none;
      }

      ul {
        display: none;
        padding: 0;
        padding-top: 10px;
        cursor: pointer;

        li {
          padding: 5px 0;

          &:hover {
            background-color: $primary;
            color: $product-search-hover;
          }
        }
      }
    }

    select {
      -webkit-appearance: none;
      border: 0;
      background-color: transparent;
      padding: 5px 30px 5px 35px;
      position: relative;
      z-index: 1;
    }
  }

  .selectField {
    display: flex;
    align-items: center;
    position: relative;
  }

  .searchField {
    display: flex;
    align-items: center;
    position: relative;

    input {
      border: 0;
      padding-left: 10px;
      font-size: 14px;
      outline: none;

      &::placeholder {
        color: $text-color;
      }
    }

    button {
      border: 0;
      background-color: transparent;
      outline: none;
    }
  }
}
